.padding-around {
	padding: 70px 0px 70px 0px;
}

.text-padding {
	padding: 0px 15px;
}

.fix-height {
	height: 430px;
}

.imgshadow{
	box-shadow:  	0 4px 8px 0 rgba(0, 0, 0, 0.2), 
					0 6px 8px 0 rgba(0, 0, 0, 0.24) !important;	
}

.max-height {
	height: 100% !important;
}